/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Fredoka+One&family=Pathway+Gothic+One&family=Squada+One&family=Varela+Round&display=swap');

*{
    margin: 0px;
}

/*      ===========================     */
/*      ======= ANIMATIONS ========     */
/*      ===========================     */

/* infinite scroll animation*/
@keyframes scroll-animation {
    from
    {
        background-position-x: 200px;
    }
    to{
        background-position-x: -1000px;
    }
}

@keyframes plane {
    0%{
        top: 50%;
    }  
    50%{
        top: 20%;
    }
    100%{
        top: 50%;
        
    }
}

@keyframes day {
    0%{
        background-color: white;
        box-shadow: 0px 0px 20px white;
        transform: translateY(0px);
    }
    50% {
        transform: translateY(300px);
    }
    60% {
        background-color: #FBC6A4;
        box-shadow: 0px 0px 20px #FBC6A4;
    }
    100%{
        background-color: #FBC6A4;
        box-shadow: 0px 0px 20px #FBC6A4;
        transform: translateY(0px)
    }
}

@keyframes moon {
    0%{
        transform: translateY(0px);
    }
    50% {
        transform: translateY(300px);
    }
    60% {
        background-color: white;
        box-shadow: 0px 0px 20px white;
    }
    100%{
        background-color: white;
        box-shadow: 0px 0px 20px white;
        transform: translateY(0px)
    }

}

/* swaps the forms */
@keyframes swap-form {
    0%{
        transform: translateY(0px);
        display: block;
    }
    50%{
        display: block;
        transform: translateY(1000px);
    }
    55%{
        display: none;
    }
    100%{
        display: none;
        transform: translateY(0px);
    }
}

/* changes background from day to night */
@keyframes night-sky {
    0%{
        background-color: #85C0D9;
    }
    50%{
        background-color: #5b7986;
    }
    100%{
        background-color: #18526e;
    }
}



/*   ========================= */
/*   ======= PC Display ====== */
/*   ========================= */

@media only screen and (min-width: 600px) {
    

    html {
        background-color: #85C0D9;
        height: 100%;
    }
    
    .gradient {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #CE97B0 50%);
        height: 100%;
    }
    
    .clouds {
        height: 100%;
        width: 100%;
        position: absolute;
        background: url("src/img/clouds.png");
        background-repeat: repeat;
        background-size: 600px;
        background-repeat: repeat-x;
    
        /* cloud animation */
        animation: scroll-animation 10s linear infinite;
        animation-fill-mode: both;
    
    }
    
    .plane {
        /* size */
        height: 100%;
        width: 100%;
    
        /*position*/
        left: 10%;
        top: 50%;
        position: fixed;
        
        background: url("src/img/airplane.png");
        background-repeat: no-repeat;
        background-size: 30%;
    
        animation: plane 6s infinite ease-in-out;
    }
    
    .buildings {
        height: 100%;
        width: 100%;
    
        /*position*/
        left: 0%;
        top: 50%;
        position: fixed;
        
        background: url("src/img/buildings.png");
        background-repeat: repeat-x;
        background-size: 600px;
    
        /* building animation */
        animation: scroll-animation 10s linear infinite;
        animation-fill-mode: both;
    }
    
    .buildings-2 {
        height: 100%;
        width: 100%;
    
        /*position*/
        left: 0%;
        top: 60%;
        position: fixed;
        
        background: url("src/img/buildings2.png");
        background-repeat: repeat-x;
        background-size: 600px;
    
        /* building animation */
        animation: scroll-animation 150s reverse linear infinite;
        animation-fill-mode: both;
    }
    
    .sun{
        height: 500px;
        width: 500px;
        max-width: auto;
    
        /* style */
        background-color: #FBC6A4;
        border-radius: 200%;
        box-shadow: 0px 0px 20px #FBC6A4;
    
        /*position*/
        left: 30%;
        top: 50%;
        position: fixed;
        
    
        /* animation */
        animation: day 2s ease-in-out;
    }

    .logo{
        /* size */
        height: 100%;
        width: 100%;
    
        /*position*/
        margin: -10% 75%;
        position: absolute;
      
        background-repeat: no-repeat;
        background-image: url("src/img/logo.png");
        background-size: 150px;

        z-index: 100;
  }
    
    /*      ===========================     */
    /*      ======= LOG IN FORM =======     */
    /*      ===========================     */
    
    .login {
        /* size */
        height: 50%;
        width: 500px;
        max-width: 100%;
        
        /* position */
        top: 20%;
        margin: 0 55%;
        position: fixed;

    
        /*background*/
        background-color: #CE97B0;
        background-image: linear-gradient(to bottom, #CE97B0 60%, #85C0D9 );
    
        /* border */
        border-radius: 10px;
        box-shadow: 0 0 10px #CE97B0;

    }
    
    .login h2{
        /* size */
        height: 80%;
        width: 350px;
    
        /* position */
        margin: 50px auto;
        position: relative;
    
        /* text style */
        font-family: 'Fredoka One', cursive;
        font-size: 50px;
        -webkit-text-stroke: 0.01px white;
        color: #FBC6A4;
        text-shadow: 0px 3px #9e938c;
    }

    #email_1 {
        /* size */
      height: 7%;
      width: 300px;
      min-width: 250px;
  
      /* position */
      top: 35%;
      margin: 0 20%;
      position: absolute;
  
      /* text style */
      font-family: 'Varela Round', sans-serif;
      font-size: 15px;
      color: #AF9CB8;
      text-indent: 10%;
  
      /* border */
      border-style: solid;
      border-color: #AF9CB8;
      border-width: 3px;
      border-radius: 10px;
  }

    #emailIcon {
          /* size */
      height: 7%;
      width: 10px;
      min-width: 10px;
  
      /* position */
      top: 35%;
      margin: 1.2% 22%;
      position: absolute;
  
      /* text style */
      font-size: 15px;
      color: #AF9CB8;
      z-index: 100;
    }
    
    #passIcon {
      /* size */
      height: 7%;
      width: 10px;
      min-width: 10px;
  
      /* position */
      top: 35%;
      margin: 9.5% 22%;
      position: absolute;
  
      /* text style */
      font-size: 15px;
      color: #AF9CB8;
      z-index: 100;
    }

    #password {
         /* size */
         height: 7%;
         width: 300px;
         min-width: 250px;
     
         /* position */
         top: 47%;
         margin: 0 20%;
         position: absolute;
     
         /* text style */
         font-family: 'Varela Round', sans-serif;
         font-size: 15px;
         color: #AF9CB8;
         text-indent: 10%;
     
         /* border */
         border-style: solid;
         border-color: #AF9CB8;
         border-width: 3px;
         border-radius: 10px;
    }
    
    /* log in button */
    
    .login button {
        /* size */
        height: 10%;
        width: 100px;
    
        /* position */
        top: 60%;
        left: 40%;
        position: absolute;
    
        /* text style */
        font-family: 'Varela Round', sans-serif;
        font-size: 15px;
        color: #AF9CB8;
        
        /* border */
        background-color:#FBC6A4;
        border-style: solid;
        border-color: #AF9CB8;
        border-width: 2px;
        border-radius: 10px;
        box-shadow: 0px 2px white;
    
    }
    
    #forgot-password-link {
        height: 10%;
        width: 200px;
    
        /* position */
        top: 70%;
        left: 30%;
        position: absolute;
    
        /* text style */
        text-align: center;
        font-family: 'Varela Round', sans-serif;
        font-style: italic;
        background: none;
        border:none;
        outline: none;
        box-shadow: none;
        font-size: 15px;
        color: #ffffff;
        cursor: pointer;
    
    }
    
    /*      ===========================     */
    /*      ==== RETRIEVE PASSWORD ====     */
    /*      ===========================     */
    
    .forgot-password {
       /* size */
       height: 50%;
       width: 500px;
       max-width: 100%;
       
       /* position */
       top: 20%;
       margin: 0 55%;
       position: fixed;

   
       /*background*/
       background-color: #CE97B0;;
       background-image: linear-gradient(to bottom, #CE97B0 60%, #85C0D9 );
   
       /* border */
       border-radius: 10px;
       box-shadow: 0 0 10px #CE97B0;
    }
    
    .forgot-password h2{
        /* size */
        height: 80%;
        width: 350px;
    
        /* position */
        margin: 50px 80px;
        position: relative;

        /* text style */
        font-family: 'Fredoka One', cursive;
        font-size: 42px;
        -webkit-text-stroke: 0.01px white;
        color: #FBC6A4;
        text-shadow: 0px 3px #9e938c;
    }

    
    .forgot-password button {
         /* size */
         height: 10%;
         width: 100px;
     
         /* position */
         top: 50%;
         left: 40%;
         position: absolute;
     
         /* text style */
         font-family: 'Varela Round', sans-serif;
         font-size: 15px;
         color: #AF9CB8;
         
         /* border */
         background-color:#FBC6A4;
         border-style: solid;
         border-color: #AF9CB8;
         border-width: 2px;
         border-radius: 10px;
         box-shadow: 0px 2px white;
    
    }

    #email_2 {
        /* size */
      height: 7%;
      width: 300px;
      min-width: 250px;
  
      /* position */
      top: 35%;
      margin: 0 20%;
      position: absolute;
  
      /* text style */
      font-family: 'Varela Round', sans-serif;
      font-size: 15px;
      color: #AF9CB8;
      text-indent: 10%;
  
      /* border */
      border-style: solid;
      border-color: #AF9CB8;
      border-width: 3px;
      border-radius: 10px;
  }
    
    #sign-in {
        height: 10%;
        width: 200px;
    
        /* position */
        top: 70%;
        left: 30%;
        position: absolute;
    
        /* text style */
        text-align: center;
        font-family: 'Varela Round', sans-serif;
        font-style: italic;
        background: none;
        border:none;
        outline: none;
        box-shadow: none;
        font-size: 15px;
        color: #ffffff;
        cursor: pointer;
    
    }
}

/*   ========================= */
/*   ===== Mobile Display ==== */
/*   ========================= */

@media only screen and (max-width: 600px) {

    *{
        margin: 0px;
    }

    html {
        background-color: #85C0D9;
        height: 100%;
    }
    
    .gradient {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #CE97B0 50%);
        height: 100%;
    }
    
    .clouds {
        height: 100%;
        width: 100%;
        position: absolute;
        background: url("src/img/clouds.png");
        background-repeat: repeat;
        background-size: 600px;
        background-repeat: repeat-x;
    
        /* cloud animation */
        animation: scroll-animation 10s linear infinite;
        animation-fill-mode: both;
    
    }
    
    .plane {
        /* size */
        height: 100%;
        width: 100%;
    
        /*position*/
        left: 10%;
        top: 50%;
        position: fixed;
        
        background: url("src/img/airplane.png");
        background-repeat: no-repeat;
        background-size: 300px;
    
        animation: plane 6s infinite ease-in-out;
        display: none;
    }
    
    .buildings {
        height: 100%;
        width: 100%;
    
        /*position*/
        left: 0%;
        top: 50%;
        position: fixed;
        
        background: url("src/img/buildings.png");
        background-repeat: repeat-x;
        background-size: 600px;
    
        /* building animation */
        animation: scroll-animation 10s linear infinite;
        animation-fill-mode: both;
    }
    
    .buildings-2 {
        height: 100%;
        width: 100%;
    
        /*position*/
        left: 0%;
        top: 60%;
        position: fixed;
        
        background: url("src/img/buildings2.png");
        background-repeat: repeat-x;
        background-size: 600px;
    
        /* building animation */
        animation: scroll-animation 150s reverse linear infinite;
        animation-fill-mode: both;
    }
    
    .sun{
        height: 500px;
        width: 500px;
        max-width: auto;
    
        /* style */
        background-color: #FBC6A4;
        border-radius: 200%;
        box-shadow: 0px 0px 20px #FBC6A4;
    
        /*position*/
        left: 30%;
        top: 50%;
        position: fixed;
        
    
        /* animation */
        animation: day 2s ease-in-out;
    }

    .logo{
        /* size */
        height: 100%;
        width: 100%;
    
        /*position*/
        margin: -22% 60%;
        position: absolute;
      
        background-repeat: no-repeat;
        background-image: url("src/img/logo.png");
        background-size: 150px;

        z-index: 100;
  }
    
    /*      ===========================     */
    /*      ======= LOG IN FORM =======     */
    /*      ===========================     */
    
    .login {
        /* size */
        height: 40%;
        width: 300px;
        max-width: 100%;
        
        /* position */
        top: 30%;
        margin: 0 10%;
        position: fixed;
    
        /*background*/
        background-color: #CE97B0;
        background-image: linear-gradient(to bottom, #CE97B0 60%, #85C0D9 );
    
        /* border */
        border-radius: 10px;
        box-shadow: 0 0 10px #CE97B0;

        display: block;
    }
    
    .login h2{
         /* size */
         height: 80%;
         width: 350px;
     
         /* position */
         margin: 30px 50px;
         position: relative;
     
         /* text style */
         font-family: 'Fredoka One', cursive;
         font-size: 30px;
         -webkit-text-stroke: 0.01px white;
         color: #FBC6A4;
         text-shadow: 0px 3px #9e938c;
    }
    
    #email_1 {
          /* size */
        height: 10%;
        width: 100px;
        min-width: 250px;
    
        /* position */
        top: 35%;
        margin: 0 20px;
        position: absolute;
    
        /* text style */
        font-family: 'Varela Round', sans-serif;
        font-size: 15px;
        color: #AF9CB8;
        text-indent: 10%;
    
        /* border */
        border-style: solid;
        border-color: #AF9CB8;
        border-width: 3px;
        border-radius: 10px;
    }

    
    #emailIcon {
        /* size */
    height: 7%;
    width: 10px;
    min-width: 10px;

    /* position */
    top: 35%;
    margin: 3% 10%;
    position: absolute;

    /* text style */
    font-size: 15px;
    color: #AF9CB8;
    z-index: 100;
  }

  
    #passIcon {
        /* size */
        height: 7%;
        width: 10px;
        min-width: 10px;

        /* position */
        top: 35%;
        margin: 18% 10%;
        position: absolute;

        /* text style */
        font-size: 15px;
        color: #AF9CB8;
        z-index: 100;
    }
    
    #password {
         /* size */
        height: 10%;
        width: 100px;
        min-width: 250px;
       
        /* position */
        top: 50%;
        margin: 2% 20px;
        position: absolute;
       
         /* text style */
        font-family: 'Varela Round', sans-serif;
        font-size: 15px;
        color: #AF9CB8;
        text-indent: 10%;
       
        /* border */
        border-style: solid;
        border-color: #AF9CB8;
        border-width: 3px;
        border-radius: 10px;
    }
    
    /* log in button */
    
    .login button {
        /* size */
        height: 15%;
        width: 100px;
    
        /* position */
        margin: -85px 100px;
        position: absolute;
    
        /* text style */
        font-family: 'Varela Round', sans-serif;
        font-size: 15px;
        color: #AF9CB8;
        
        /* border */
        background-color:#FBC6A4;
        border-style: solid;
        border-color: #AF9CB8;
        border-width: 2px;
        border-radius: 10px;
        box-shadow: 0px 2px white;
    
    }
    
    #forgot-password-link {
        height: 5%;
        width: 200px;
    
        /* position */
        top: 65%;
        margin: 50px 50px;
        position: absolute;
    
        /* text style */
        font-family: 'Varela Round', sans-serif;
        font-style: italic;
        background: none;
        border:none;
        outline: none;
        box-shadow: none;
        font-size: 15px;
        color: #ffffff;
        cursor: pointer;
    
    }
    
    /*      ===========================     */
    /*      ==== RETRIEVE PASSWORD ====     */
    /*      ===========================     */
    
    .forgot-password {
        /* size */
        height: 40%;
        width: 300px;
        max-width: 100%;
        
        /* position */
        top: 30%;
        margin: 0 10%;
        position: fixed;
    
        /*background*/
        background-color: #CE97B0;
        background-image: linear-gradient(to bottom, #CE97B0 60%, #85C0D9 );
    
        /* border */
        border-radius: 10px;
        box-shadow: 0 0 10px #CE97B0;

        display: block;
    }
    
    .forgot-password h2{
        /* size */
        height: 80%;
        width: 350px;
    
        /* position */
        margin: 30px 30px;
        position: relative;
    
        /* text style */
        font-family: 'Fredoka One', cursive;
        font-size: 30px;
        -webkit-text-stroke: 0.01px white;
        color: #FBC6A4;
        text-shadow: 0px 3px #9e938c;
    }
    
    .forgot-password button {
         /* size */
         height: 15%;
         width: 100px;
     
         /* position */
         margin: -130px 100px;
         position: absolute;
     
         /* text style */
         font-family: 'Varela Round', sans-serif;
         font-size: 15px;
         color: #AF9CB8;
         
         /* border */
         background-color:#FBC6A4;
         border-style: solid;
         border-color: #AF9CB8;
         border-width: 2px;
         border-radius: 10px;
         box-shadow: 0px 2px white;
    
    }
    
    #email_2 {
        /* size */
      height: 10%;
      width: 100px;
      min-width: 250px;
  
      /* position */
      top: 35%;
      margin: 0 20px;
      position: absolute;
  
      /* text style */
      font-family: 'Varela Round', sans-serif;
      font-size: 15px;
      color: #AF9CB8;
      text-indent: 10%;
  
      /* border */
      border-style: solid;
      border-color: #AF9CB8;
      border-width: 3px;
      border-radius: 10px;
  }

    #sign-in {
        height: 5%;
        width: 200px;
    
        /* position */
        top: 65%;
        margin: 30px 50px;
        position: absolute;
    
        /* text style */
        font-family: 'Varela Round', sans-serif;
        font-style: italic;
        background: none;
        border:none;
        outline: none;
        box-shadow: none;
        font-size: 15px;
        color: #ffffff;
        cursor: pointer;
    
    }

}