/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Fredoka+One&family=Pathway+Gothic+One&family=Squada+One&family=Varela+Round&display=swap');

*{
    margin: 0px;
}

html {
    background-color: #85C0D9;
    height: 100%;
}

.gradient {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #CE97B0 50%);
    height: 100%;
}

.clouds {
    height: 100%;
    width: 100%;
    position: absolute;
    background: url("src/img/clouds.png");
    background-repeat: repeat;
    background-size: 600px;
    background-repeat: repeat-x;

    /* cloud animation */
    animation: scroll-animation 10s linear infinite;
    animation-fill-mode: both;

    filter: blur(1.5px);
}

.plane {
    /* size */
    height: 100%;
    width: 100%;

    /*position*/
    left: 10%;
    top: 50%;
    position: fixed;
    
    background: url("src/img/airplane.png");
    background-repeat: no-repeat;
    background-size: 300px;

    animation: plane 6s infinite ease-in-out;
}

.buildings {
    height: 100%;
    width: 100%;

    /*position*/
    left: 0%;
    top: 50%;
    position: fixed;
    
    background: url("src/img/buildings.png");
    background-repeat: repeat-x;
    background-size: 600px;

    /* building animation */
    animation: scroll-animation 10s linear infinite;
    animation-fill-mode: both;
}

.buildings-2 {
    height: 100%;
    width: 100%;

    /*position*/
    left: 0%;
    top: 60%;
    position: fixed;
    
    background: url("src/img/buildings2.png");
    background-repeat: repeat-x;
    background-size: 600px;

    /* building animation */
    animation: scroll-animation 150s reverse linear infinite;
    animation-fill-mode: both;
}

.sun{
    height: 500px;
    width: 500px;
    max-width: auto;

    /* style */
    background-color: #FBC6A4;
    border-radius: 200%;
    box-shadow: 0px 0px 20px #FBC6A4;

    /*position*/
    left: 30%;
    top: 50%;
    position: fixed;
    

    /* animation */
    animation: day 2s ease-in-out;
}

/*      ===========================     */
/*      ======= LOG IN FORM =======     */
/*      ===========================     */

.login {
    /* size */
    height: 80%;
    width: 30%;

    max-width: 100%;
    
    /* position */
    top: 10%;
    left: 55%;
    position: fixed;

    /*background*/
    background-color: #CE97B0;;

    /* border */
    border-radius: 10px;

    display: block;
}

.login h2{
    /* size */
    height: 80%;

    /* position */
    top: 15%;
    left: 15%;
    position: absolute;

    /* text style */
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    -webkit-text-stroke: 0.01px white;
    color: #FBC6A4;
    text-shadow: 0px 3px #9e938c;
}

#email {
      /* size */
    height: 5%;
    width: 300px;

    /* position */
    top: 35%;
    left: 17%;
    position: absolute;

    /* text style */
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    color: #AF9CB8;

    /* border */
    border-style: solid;
    border-color: #AF9CB8;
    border-width: 3px;
    border-radius: 10px;
}

#password {
    /* size */
    height: 5%;
    width: 300px;

    /* position */
    top: 45%;
    left: 17%;
    position: absolute;

    /* text style */
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    color: #AF9CB8;

    /* border */
    border-style: solid;
    border-color: #AF9CB8;
    border-width: 3px;
    border-radius: 10px;
}

/* log in button */

.login button {
    /* size */
    height: 5%;
    width: 100px;

    /* position */
    top: 55%;
    left: 40%;
    position: absolute;

    /* text style */
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    color: #AF9CB8;
    
    /* border */
    background-color:#FBC6A4;
    border-style: solid;
    border-color: #AF9CB8;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: 0px 2px white;

}

#forgot-password-link {
    height: 5%;
    width: 200px;

    /* position */
    top: 65%;
    left: 29%;
    position: absolute;

    /* text style */
    font-family: 'Varela Round', sans-serif;
    font-style: italic;
    background: none;
    border:none;
    outline: none;
    box-shadow: none;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;

}

/*      ===========================     */
/*      ==== RETRIEVE PASSWORD ====     */
/*      ===========================     */

.forgot-password {
    /* size */
    height: 80%;
    width: 30%;
      
    /* position */
    top: 10%;
    left: 55%;
    position: fixed;
  
    /*background*/
    background-color: #CE97B0;
  
    /* border */
    border-radius: 10px;

    display: none;
}

.forgot-password h2{
    /* size */
    height: 80%;

    /* position */
    top: 15%;
    left: 15%;
    position: absolute;

    /* text style */
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    -webkit-text-stroke: 0.01px white;
    color: #FBC6A4;
    text-shadow: 0px 3px #9e938c;
}

.forgot-password button {
    /* size */
    height: 5%;
    width: 100px;

    /* position */
    top: 55%;
    left: 40%;
    position: absolute;

    /* text style */
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    color: #AF9CB8;
    
    /* border */
    background-color:#FBC6A4;
    border-style: solid;
    border-color: #AF9CB8;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: 0px 2px white;

}

#sign-in {
    height: 5%;
    width: 200px;

    /* position */
    top: 65%;
    left: 29%;
    position: absolute;

    /* text style */
    font-family: 'Varela Round', sans-serif;
    font-style: italic;
    background: none;
    border:none;
    outline: none;
    box-shadow: none;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;

}


/*      ===========================     */
/*      ======= ANIMATIONS ========     */
/*      ===========================     */

/* infinite scroll for the scroll-animation */
@keyframes scroll-animation {
    from
    {
        background-position-x: 200px;
    }
    to{
        background-position-x: -1000px;
    }
}

@keyframes plane {
    0%{
        top: 50%;
    }  
    50%{
        top: 20%;
    }
    100%{
        top: 50%;
        
    }
}

@keyframes day {
    0% {
        transform: translateY(300px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes moon {
    0%{
        transform: translateY(0px);
    }
    50% {
        transform: translateY(300px);
    }
    60% {
        background-color: white;
        box-shadow: 0px 0px 20px white;
    }
    100%{
        background-color: white;
        box-shadow: 0px 0px 20px white;
        transform: translateY(0px)
    }

}

/* flips the form */
@keyframes swap-form {
    0%{
        transform: translateY(0px);
        display: block;
    }
    50%{
        display: block;
        transform: translateY(1000px);
    }
    55%{
        display: none;
    }
    100%{
        display: none;
        transform: translateY(0px);
    }
}

@keyframes night-sky {
    0%{
        background-color: #85C0D9;
    }
    100%{
        background-color: #18526e;
    }
}

/* changes display */
@keyframes show-text {
    0%{
        display: none;
    }
    50%{
        display: none;
    }
    100%{
        display: block;
    }
}

@keyframes hide-text {
    0%{
        display: block;
    }
    50%{
        display: block;
    }
    100%{
        display: none;
    }
}
